In [1]:
## In python there are two types of functions -> named function and lambda function

In [2]:
# what a function ? A block of code for specific task

##### Named Function (UDF)

In [3]:
# # syntax of names function
# def <function_name>((<params>)):
#     <body of the function>
#     (return <values>)     
# # note: return and params are options

In [4]:
for i in range(1,11):
    print('!!! Hello World !!!')
    ##

!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!

In [5]:
for i in range(1,11):
    print('!!! Hello World !!!')
    ##

!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!

In [6]:
for i in range(1,11):
    print('!!! Hello World !!!')
    ##

!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!

In [7]:
for i in range(1,11):
    print('!!! Hello World !!!')
    ##

!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!
!!! Hello World !!!

##### a function with no argument

In [8]:
## function defination
def greet():
    for i in range(1,11):
        print('Hello World')

In [9]:
greet()  # function call

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [10]:
greet()

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [11]:
greet()

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [12]:
# # .......
# list1 = list(range(1,100))
# # .......

##### a function with a argument

In [13]:
###
# WAF which takes 'name' and print customised greeting
def greet(name): # example of parametric function
    print('Hello '+name)

In [14]:
greet('Jill')

Hello Jill

In [15]:
def greet(firstname, lastname): # example of parametric function
    '''This function greets user.'''
    print('Hello '+ lastname + ' '+firstname)

In [16]:
greet("Jill", "L.")

Hello L. Jill

In [17]:
greet("L.", "Jill")

Hello Jill L.

In [18]:
greet(firstname='Jill', lastname='L.')

Hello L. Jill

In [19]:
greet( lastname='L.', firstname='Jill')

Hello L. Jill

In [20]:
greet('Jill', lastname='L.')

Hello L. Jill

In [21]:
# greet(firstname='Rageeni','sah') # error # invalid

In [22]:
greet('Jill','L.')
# greet('rageeni')

Hello L. Jill

##### default arguments

In [23]:
## function with default agruments
def greet(firstname, lastname = ''): # example of parametric function
    '''This function greets user.'''
    print('Hello '+ lastname + ' '+firstname)

In [24]:
greet('Jill.')
greet('Jill', 'A.')
# greet()

Hello  Jill.
Hello A. Jill

In [25]:
def addition(n1 = 0, n2 = 0):
    print(n1+n2)

In [26]:
addition()
addition(2)
addition(4,5)
addition(4,7)
addition(4, n2 = 7)
addition(n1 = 4, n2 = 7)
# addition(n1= 4, 7) # invalid

0
2
9
11
11
11

In [27]:
print('strings'.replace('s','m'))
print('strings'.replace('s','m', -1))
print('strings'.replace('s','m', 1))

mtringm
mtringm
mtrings

In [28]:
# 'string'.replace

##### none - keyworded arguments

In [29]:
def add(n1, n2):
    print(n1+n2)

In [30]:
add(3,4)

7

In [31]:
def add(*n): # function with none keyworded agruments
    print(sum(n)) #where # n is tuple object

In [32]:
add()
add(1)
add(1,2)
add(3,4,5)
add(5,5,6)
add(3,4,5,6,7,8)
# add('a',3,4,5)

0
1
3
12
16
33

##### keyworded arguments

In [33]:
def add(**arg): # arg is dictionary object
    print(arg)

In [34]:
add(a= 2, b = 4, c = 6, d = 7)

{'a': 2, 'b': 4, 'c': 6, 'd': 7}

In [35]:
def add(**arg):
    values = []
    keys = []
    for v in arg.values():
        values.append(v)
    for k in arg.keys():
        keys.append(k)  
#     print(keys, values)    
    print('Adding {}  and {}'.format(keys[1],keys[2]))    
    return sum(values[1:3])

In [36]:
add(a= 5, b = 6, c =7, d = 6 )

Adding b  and c

13

##### a function returning parameters

In [37]:
def add(n1,n2 = 0):
    return n1+n2

In [38]:
result = add(4)
result

4

In [39]:
def add(n1,n2 = 0):
    return (n1, n2, n1+n2)

In [40]:
result = add(4)
result

(4, 0, 4)

In [41]:
a,b,s = add(4)
print(a)
print(b)
print(s)

4
0
4

1. WAF to simulate basic calculator operations.
2. WAF to find factor of a positive number.
3. WAF to reverse a string.
4.  WAF to swap two numbers.

In [42]:
# WAF to simulate basic calculator operations.
## function declaration
def calculator(n1,n2,op='+'):
    if op == '+':
        return n1+n2
    elif op == '-':
        return n1 - n2
    elif op == '*':
        return n1*n2
    elif op == '/':
        if n2!= 0:
            return n1/n2
        else :
            return -1
    else:
        return -1

# function call
# calculator(2,3)
# calculator(2,3,'%')
num1 = 2
num2 = 3
operator = '%'
res = calculator(num1, num2, operator)
if res == -1:
    print('Invalid Input')
else:
    print(res)

Invalid Input

In [43]:
# WAF to find factor of a positive number.
# 4 = 1*2*3*4 = 24

def factorial(n):
    if n < 0:
        return -1
    else:
        fac = 1
        i = 1
        if (n == 0 ) | (n == 1):
            return 1
        else:
            while  i <= n:
                fac = i* fac
                i = i + 1
            return fac

In [44]:
print(factorial(0))
print(factorial(4))
print(factorial(5))
print(factorial(-2))

1
24
120
-1

In [45]:
ret = factorial(2)
print(type(ret))

<class 'int'>

In [46]:
# WAF to reverse a string.
def reverse_string(in_str):
    '''Reverse a given string.
    in_str -> should be string'''
    blank_list = []
    blank_list.extend(in_str)
    return "".join(blank_list[::-1])

In [47]:
# "".join(['1','2','4','5'])

In [48]:
# a = [1,2,3,4]
# a.reverse()
# a

In [49]:
print(reverse_string('bangalore'))
print(reverse_string('pune'))
reverse_string('hellow world')

erolagnab
enup

'dlrow wolleh'

In [50]:
# WAF to swap two numbers.
def swap_numbers(n1,n2):
    tmp_v = n1
    n1 = n2
    n2 = tmp_v
    return (n1,n2)

In [51]:
a,b = swap_numbers(20,30)
print(a,b)

30 20

In [52]:
# # WAF to swap two numbers.
# def swap_numbers():
#     n1 = int(input('Enter 1st number to swap: '))
#     n2 = int(input('Enter 2nd number to swap: '))
#     tmp_v = n1
#     n1 = n2
#     n2 = tmp_v
#     return (n1,n2)

In [53]:
# swap_numbers()

In [54]:
#
n1 = 20
n2 = 40
n2, n1 = n1, n2
print(n1,n2)

40 20

In [55]:
# WAF to reverse a number.
# For example: input-> 123456 output -> 654321

In [56]:
def reverse_number(n):
    o_n = 0
    while n > 0:
        digit = n%10
        o_n = o_n* 10 + digit
        n = n//10
#         print(digit, n, o_n )
    return o_n

In [57]:
reverse_number(1234560)

654321

In [58]:
## Method 2
a = []
a.extend('1234560')
a
int(''.join(a[::-1]))

654321

#### UDF - Type 2
##### lambda function 
    - also called anonymous function
    - lambda function does not take return keyword to return any value
    - can take any number of arguments
    - useful to use a lambda function when a function is passed as an object to another function/method
    - syntax:
        lambda argument(s):<output_expression>
        where lambda is a keyword, multiple aruments are passed seperated by comma & output_expression returns single value

In [59]:
# syntax:
# lambda argument(s):<output_expression>

In [60]:
## example of a named function (UDF) to add two numbers
# function defination
def add(n1,n2):
    return n1+n2

# function call
add(20,50)

70

In [61]:
s = lambda n1,n2:n1+n2
s(20,50)

70

In [62]:
s = lambda a,b: a+b
s(40,20)

60

In [63]:
def comp(a,b,c):
    return a*b-c

In [64]:
s = lambda n1,n2,n3:n1*n2-n3
s(20,30,4)

596

#### filter(), map(), reduce()

#### map()

In [65]:
list1 = list(range(1,11))
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
# add a value of 2 to each element of the list1
[each+2 for each in list1]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [67]:
list(map(lambda x:x+2, list1))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [68]:
list(map(lambda x:x**0.5, list1 ))

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

In [69]:
def transform(x):
    return x+2
list(map(transform, list1 ))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [70]:
# def udf_func(x):
#     return x+2
# def custom_func(udf_func,iterable):
#     output_list = []
#     for each in iterable:
#         output_list.append(udf_func(each))

#     return output_list

# custom_func(udf_func, [1,2,3,4,5])

#### filter()

In [71]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [72]:
list(filter(lambda x: x%2 == 0, list1))

[2, 4, 6, 8, 10]

#### reduce()

In [73]:
from functools import reduce

In [74]:
list1
# sum, count, max, min, avg

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
## adding each element on the list1
reduce(lambda x,y : x+y, list1) # function must have two agruments

55

In [76]:
reduce(add, list1)

55

In [77]:
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# x = 1, y = 2; x+y = 3
# x = 3, y = 3; 6
# x = 6, y = 4 ; 10
# x = 10, y = 5; 15
# x = 15, y = 6; 21
# x = 21, y = 7; 28
# x = 28, y = 8; 36
# x = 36, y = 9; 45
# x = 45, y = 10; 55

In [78]:
# max
reduce(lambda x, y: x if x> y else y, list1)

10

In [79]:
# min
reduce(lambda x, y: x if x< y else y, list1)

1

In [80]:
# diff
reduce(lambda x, y: x-y, list1)

-53

1. execute the below logic with map() function

[-10,10]
if positive => 'p'
if negative => 'n'
else 'z'

In [81]:
['p' if x>0 else 'n' if x <0 else 'z' for x in range(-10,10)]

['n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'z',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p']

In [82]:
list(map(lambda x: 'p' if x > 0 else 'n' if x < 0 else 'z', range(-10,10)))

['n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'n',
 'z',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p',
 'p']

In [83]:
gender = ['female','male','female','male','male','female','female','male']
# transformation => 'male'-> 0 & 'female' -> 1

In [84]:
list(map(lambda x: 1 if x == 'female' else 0, gender))

[1, 0, 1, 0, 0, 1, 1, 0]

In [85]:
# This block is just for reference. Will discuss in detail during  pandas package
# # import pandas as pd
# # pd.Series(gender).map({'female':1, 'male':0})