# Python is case sensitive language. 
    For example: Class &  class are considered two different identities in python
    
## Difference between identifier and keyword

- Identifiers
    - An identifier is a name given to entities like class, functions, variables, etc. 
    - It helps to differentiate one entity from another.
            Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _ .
            An identifier cannot start with a digit. 
            Keywords cannot be used as identifiers. 
            We cannot use special symbols like !, @, #, $, % etc.
            An identifier can be of any length.

- Keywords
    - Keywords are the reserved words in Python.
            We cannot use a keyword as a variable name, function name or any other identifier.
            They are used to define the syntax and structure of the Python language.    
    -In Python, keywords are case sensitive.  
  -Refer this link for comprehensive use of different keywords:-
  https://www.programiz.com/python-programming/keyword-list

In [1]:
 import keyword
 print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
# keywords
# for, while, in, list(), tuple(), str, int, float, etc

sum_ =  2+2 # an example of a identifier

In [2]:
var_int = 2
var_float = 2.0
var_string = 'Hello world!'

In [3]:
print(type(var_int))
print(type(var_float))
print(type(var_string))

<class 'int'>
<class 'float'>
<class 'str'>

In [4]:
var_int = 2.0
var_float = 2.0
var_string = 'Hello world!'

print(type(var_int))
print(type(var_float))
print(type(var_string))

<class 'float'>
<class 'float'>
<class 'str'>

In [5]:
var_int = 'string'
var_float = 2.0
var_string = 'Hello world!'
var_cmplx = 4+5j

print(type(var_int))
print(type(var_float))
print(type(var_string))
print(type(var_cmplx))

<class 'str'>
<class 'float'>
<class 'str'>
<class 'complex'>

In [6]:
### 
str1 = ''
str2 = ""
str3 = ''''''
str4 = """"""
print(type(str1))
print(type(str2))
print(type(str3))
print(type(str4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [7]:
print('she is going to school')

she is going to school

In [8]:
print("she's going to school")

she's going to school

She is going to the school.
She is the topper of her class.

In [9]:
print('''She is going to the school.
She is the topper of her class.''')

She is going to the school.
She is the topper of her class.

In [10]:
print("""She is going to the school.
She is the topper of her class.""")

She is going to the school.
She is the topper of her class.

In [11]:
str1 = '''She is going to the school.
She is the topper of her class.'''

In [12]:
print(str1)

She is going to the school.
She is the topper of her class.

properties of the string
    - strings are series of characters
    - strings are immutable

In [13]:
str1

'She is going to the school.\nShe is the topper of her class.'

In [14]:
str1[0]

'S'

In [15]:
str1[0:3] # object[start:end] where end is exluded

'She'

In [16]:
# replace 'She' with 'C'

In [17]:
# str1[0:3] = 'C' # immutable 
str1

'She is going to the school.\nShe is the topper of her class.'

In [18]:
print(str1.islower())
str1.split()
# str.                     # object. + press 'Tab'

False

['She',
 'is',
 'going',
 'to',
 'the',
 'school.',
 'She',
 'is',
 'the',
 'topper',
 'of',
 'her',
 'class.']

In [19]:
str1

'She is going to the school.\nShe is the topper of her class.'

In [20]:
print(str1.replace('She',  'He'))
print(str1.replace('She',  'He', 1))

He is going to the school.
He is the topper of her class.
He is going to the school.
She is the topper of her class.

In [21]:
## boolean type
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [22]:
## basic operators in python

Arithmetic operators: +,-,/,//,**,*,%

In [23]:
num1 = 5
num2 = 3
# difference between '/' and '//', '*', '**', '%'
print(num1+num2) # 8
print(num1 - num2) # 2
print(num1 * num2) # 15
print(num1 ** num2) # exponental 
print(num1/num2) # 1.6667
print(num1//num2) # 1 (integer division)
print(num1%num2) # 2

var1 = 'str1'
var2 = 'str2'
var3 = 4
# print(var1+var3) # Error
print(var1+var2) # str1str2 # concatenation
print(var1*var3) # 4 times duplicate of var1
# print(var1*var2) # Error
# print(var1/var2) # Error

8
2
15
125
1.6666666666666667
1
2
str1str2
str1str1str1str1

In [24]:
# '2' + str(2)
# a = '2'
# b = '2'
# a+b
# round(1.667, 1)

comparison operators: ==,!=,>,>=,<,<= 
    - comparison operators work on 2 operands
    - returns boolean (True/False)

In [25]:
print(3>4) # False
print(3>=4) # False
print(4!=4) # False
print(4==4) # True
print('abc'!='xyz') # True
print(7==7) # True
print(8<= 8) # True
print(9 > 9) # False
print('A' == 'a')

False
False
False
True
True
True
True
False
False

Logical operators: and, or, not
    -and,or takes two operands
    - not takes single operand
    - return boolean

    and 
     op1 op2
     1 1   -> 1
     1 0  -> 0
      0 1 -> 0
     0 0 -> 0

    or
    op1 op2 
    1 1 -> 1
    1 0 -> 1
    0 1 -> 1
    0 0 -> 0

    not 
    op
    1 -> 0
    0 -> 1

In [26]:
print((3>5) and (7< 6)) # False
print(True and False ) # False
print((True and False )  or (True and False )) # False
print((not True) and (not False)) # False and not False => False and True => False 
print(True and False and not False) # False

False
False
False
False
False

In [27]:
# Bitwise operators: &, |, !
#     False and True
#     False & True
#     001100 and 1000

Assignment Operators -> =,+=,*=,-=,/=,%=,//=

In [28]:
n = 5
print(n)
n = n + 10 # adding 10 to the existing number and updating n with recent sum
n = n - 10 # subtracting 10 to the existing number and updating n with recent difference

## equivalent codes
n = 5
print(n) # 5
n += 10
print(n) # 15
n -= 4
print(n) # 11
n *= 4
print(n) # 44
n /= 5
print(n) # 8.22
n **= 2
print(n)
n //=5
print(n)

5
5
15
11
44
8.8
77.44000000000001
15.0

In [29]:
print(5//6)
print(5.0//6)

0
0.0

Identity operator -> is, is not

In [30]:
print(4 is 4) # 4==4
print(4 is not 4) # 4!=4

True
False

Membership operators -> in, not in
    - return boolean True/False

In [31]:
print(4 in [1,2,3,4,5,6])
print(4 in [4,1,2,3,5,6])
print(4 in [1,2,3,5,6])
print(4 not in [1,2,3,4,5,6])
print(4 not in [1,2,3,5,6])
print('bangalore' in ['bangalore', 'chennai','pune'])
print('bangalore' in ['Bangalore', 'chennai','pune'])
print('bangalore' in [ 'chennai','pune'])

True
True
False
False
True
True
False
False

In [32]:
# &,|,!
# and, or,not
# 5 & 4
# 0100 and 1000 => False 
# 0100 & 1000 => False