## List

List properties:
    - ordered data and indexable
    - allows duplicate members
    - hetrgenous data type
    - mutable/changeable

In [1]:
# [seperated comma]
# elements/members/values
# An element of the list can be any python supported data types

In [2]:
list1 = [1,2,3,4,5,6,7,8] 
print(type(list1))
list1

<class 'list'>

[1, 2, 3, 4, 5, 6, 7, 8]

In [3]:
list1 = [1,2,3,4,5,6,7,8, 9.0] 
print(type(list1))
list1

<class 'list'>

[1, 2, 3, 4, 5, 6, 7, 8, 9.0]

In [4]:
list1 = [1,2,3,4,5,6,7,8, 9.0, 'string', 9.0] 
print(type(list1))
list1

<class 'list'>

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0]

In [5]:
type(list((1,2,3,4,5)))

list

In [6]:
### 
list1 = [1,2,3,4,5,6,7,8, 9.0, 'string', 9.0, -1, 'a'] 
print(type(list1))
list1

<class 'list'>

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0, -1, 'a']

In [7]:
## Accessing an element of the list

In [8]:
# indexing
print(list1[0])
print(list1[2])
print(list1[5])
print(list1[9])
print(list1[12])

1
3
6
string
a

In [9]:
## negative indexing
print(list1[12])
print(list1[-1])

a
a

In [10]:
list1 = [1,2,3,4,5,6,7,8, 9.0, 'string', 9.0, -1, 'a'] 
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0, -1, 'a']

In [11]:
# slicing 
# syntax : obj[start:end] where end is exluded ; start has a default value -> 0; end default value => length(obj) -1
print(list1[3:6])
print(list1[7:10])
print(list1[0:3])
print(list1[:3])
print(list1[11:14])
print(list1[11:])
print(list1[:])

[4, 5, 6]
[8, 9.0, 'string']
[1, 2, 3]
[1, 2, 3]
[-1, 'a']
[-1, 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0, -1, 'a']

In [12]:
### negative slicing
# syntax : obj[start:end] where end is exluded
print(list1)
print(list1[7:10])
print(list1[-6:-3])
# fetch [1,2,3,4,5,6,7,8]
print(list1[:8])
print(list1[0:8]) # slicing
print(list1[-13:-5]) # negative slicing
print(list1[:-5]) # negative slicing

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0, -1, 'a']
[8, 9.0, 'string']
[8, 9.0, 'string']
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

#### modifying a value of the list element

In [13]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0, -1, 'a']

In [14]:
# replace 'string' with 'hw'
print(list1)
list1[-4] = 'hw' # mutable
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'string', 9.0, -1, 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'hw', 9.0, -1, 'a']

In [15]:
print(list1)
list1[-4] = 4
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 'hw', 9.0, -1, 'a']
[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 4, 9.0, -1, 'a']

In [16]:
# replace [7, 8, 9.0] with [6,7,8]
print(list1)
list1[6:9] = [6,7,8]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9.0, 4, 9.0, -1, 'a']
[1, 2, 3, 4, 5, 6, 6, 7, 8, 4, 9.0, -1, 'a']

In [17]:
list1 = [1,2,3,4,[5,6,7,8],70,80,90]
list1

[1, 2, 3, 4, [5, 6, 7, 8], 70, 80, 90]

In [18]:
print(list1[-4][-2])
print(list1[-4][2])
print(list1[4][-2])
print(list1[4][2])

7
7
7
7

#### Adding a value to the list : append(), extend(), insert()

In [19]:
mylist = [1,2,3,4]
print(mylist)

[1, 2, 3, 4]

In [20]:
# add a number 9.0
print(mylist)
mylist.append(9.0)
print(mylist)

[1, 2, 3, 4]
[1, 2, 3, 4, 9.0]

In [21]:
print(mylist)
mylist.append('string')
print(mylist)

[1, 2, 3, 4, 9.0]
[1, 2, 3, 4, 9.0, 'string']

In [22]:
print(mylist)
mylist.append([3,4,5,6])
print(mylist)

[1, 2, 3, 4, 9.0, 'string']
[1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6]]

In [23]:
print(mylist)
mylist.extend([3,4,5,6])
print(mylist)

[1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6]]
[1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]

In [24]:
# insert a value 'mystring' before 9.0
print(mylist)
mylist.insert(4, 'mystring')
print(mylist)

[1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]
[1, 2, 3, 4, 'mystring', 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]

In [25]:
list1 = []
print(list1)
list1.append('bangalore')
print(list1)
list1.extend('bangalore')
print(list1)

[]
['bangalore']
['bangalore', 'b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e']

In [26]:
# mylist = [1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]
# for each in [3,4,5,6]:
#     mylist.insert(0, each)
# print(mylist)    
# # 1st iteration=> [3, 1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]
# # 2nd iteration=> [4,3, 1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]
# # 3rd iteration=> [5,4,3, 1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]
# # 4th iteration=> [6,5,4,3, 1, 2, 3, 4, 9.0, 'string', [3, 4, 5, 6], 3, 4, 5, 6]

In [27]:
## meaning of '+' and '*'
print([1,2,3] + [5])
# print([1,2,3] + 5) # error
print([1,2,3] * 2)
# print([1,2,3] * [2]) # invalid (error)

[1, 2, 3, 5]
[1, 2, 3, 1, 2, 3]

#### Deleting a value to the list : 
    - pop() - deletes a value by index position
    - remove() -- deletes a value by its value

In [28]:
mylist = ['bangalore', 'b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e']
print(mylist)

['bangalore', 'b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e']

In [29]:
print(mylist)
mylist.pop()
print(mylist)

['bangalore', 'b', 'a', 'n', 'g', 'a', 'l', 'o', 'r', 'e']
['bangalore', 'b', 'a', 'n', 'g', 'a', 'l', 'o', 'r']

In [30]:
# remove string 'a'
print(mylist)
mylist.pop(2)
print(mylist)

['bangalore', 'b', 'a', 'n', 'g', 'a', 'l', 'o', 'r']
['bangalore', 'b', 'n', 'g', 'a', 'l', 'o', 'r']

In [31]:
# remove string 'a'
print(mylist)
mylist.remove('a')
print(mylist)

['bangalore', 'b', 'n', 'g', 'a', 'l', 'o', 'r']
['bangalore', 'b', 'n', 'g', 'l', 'o', 'r']

In [32]:
### importance of copy()
mylist1 = [1,2,4]
mylist_c = mylist1 # copy by reference
print(mylist1)
print(mylist_c)
mylist_c.append('a')
print(mylist1)
print(mylist_c)

[1, 2, 4]
[1, 2, 4]
[1, 2, 4, 'a']
[1, 2, 4, 'a']

In [33]:
### importance of copy()
mylist1 = [1,2,4]
mylist_c = mylist1.copy() # copy by value
print(mylist1)
print(mylist_c)
mylist_c.append('a')
print(mylist1)
print(mylist_c)

[1, 2, 4]
[1, 2, 4]
[1, 2, 4]
[1, 2, 4, 'a']

#### looping through a list

In [34]:
for each in mylist1:
    print(each)

1
2
4

#### check if an item exist  to the list with the help of membership operator

In [35]:
mylist1

[1, 2, 4]

In [36]:
4 in mylist1

True

1. generate a new list with square of the integers in the above list.
    - Expected input and output
        input_list = [1,2,3,4,5,6,7,8,9,10]
        output_list = [1,4,9,16,25,36,49,64,81,100]

In [37]:
output_list = []
for each in range(1,11):
    output_list.append(each**2)
#     print(output_list)
    
output_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. generate a list holding square of even integers

In [38]:
sqrt_even = []
for each in range(1,11):
    if each % 2 == 0:
        sqrt_even.append(each**2)
    
sqrt_even

[4, 16, 36, 64, 100]

In [39]:
sqrt_even = []
for each in range(2,11, 2):
        sqrt_even.append(each**2)
    
sqrt_even

[4, 16, 36, 64, 100]

3. generate a list with encoding between inetegres 1 to 10:
        - if number is even, 'E'
        - if number  is odd, 'O'
output_list = ['o','e','o','e']

In [40]:
encoded_list = []
for each in range(1,11):
    if each % 2 == 0:
        encoded_list.append('e')
    else:
        encoded_list.append('o')
    
encoded_list

['o', 'e', 'o', 'e', 'o', 'e', 'o', 'e', 'o', 'e']

### Tuple

Tuple properties:
    - ordered data and indexable
    - allows duplicate members
    - hetrogenous data type
    - immutable/unchangeable

In [41]:
## create  a tuple
print(type((1,2,3,4)))
print((1,2,3,4))
print(type((1,2,3,4, 4)))
print((1,2,3,4,4))
print(type((1,2,3,4, '5')))
print((1,2,3,4,'5'))
print(type((1,2,3,4, [1,2,3])))
print((1,2,3,4,[4,5,6]))

<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4, 4)
<class 'tuple'>
(1, 2, 3, 4, '5')
<class 'tuple'>
(1, 2, 3, 4, [4, 5, 6])

In [42]:
mylist = [12,3,4]
print(type(mylist))
### converting to a tuple type
print(tuple(mylist))
print(type(tuple(mylist)))

<class 'list'>
(12, 3, 4)
<class 'tuple'>

In [43]:
# indexing, negative indexing, slicing , negative slicing are appliable to the tuple

In [44]:
mytuple = (1,2,3,4,4,(1,4,5,6),'a','b','c')

In [45]:
# fetch 1st element 
print(mytuple[0])
# fetch last element
print(mytuple[-1])

1
c

In [46]:
#### immutable property
mytuple = (1,2,3,4,4,(1,4,5,6),'a','b','c')
# mytuple[5] = 'a' # immutable
mytuple = (1,2,3)

In [47]:
# adding an element/modifying/delete

In [48]:
mylist = [1,2,3]
mytuple = (1,2,3)

In [49]:
from sys import getsizeof
print(getsizeof(mylist))
print(getsizeof(mytuple))
print(getsizeof([]))
print(getsizeof(()))

88
72
64
48

In [50]:
mytuple = (1,2,3,1,1,1,1,1,1,1)
print(mytuple.count(1))
print(mytuple.index(2))

8
1

In [51]:
mytuple[1]

2