list properties
    - ordered, hetrogenous data type
    - indexable
    - mutable
    - members can be duplicate
    
tuple properties 
    - ordered, hetrogenous data type
    - indexable
    - immutable
    - members can be duplicate
    
dictionary properties
    - indexable
    - keys can not be duplicate, value field=> members can be duplicate
    - keys -> any python constant values (string, numbers)
    - values -> any python supported datatype
    - unordered data type

In [1]:
name = ['A','B','C','D']
scores = [30,45,60,90]

In [2]:
print(type({}))

<class 'dict'>

In [3]:
# # syntax
# {key1:val1,key2:val2,....keyN:valN}
# key1, key2, keyN => any python constant values #for example: 'string', 1,1.0
# val1, val2,valN => any python supported data types (list, scalar, tuple, dictionary, set)

In [4]:
students = {'name':['A','B','C','D'],
            'scores':[30,45,60,90],
            'address':{'city':['banglore','chennai','pune','mumbai'],
                     'state':['K','TN','MH','MH'],
                     'pincode':[45,34,56,78]},
           'rollno':(2,3,4,5)}

In [5]:
### using 
dict(zip(name, scores))

{'A': 30, 'B': 45, 'C': 60, 'D': 90}

In [6]:
students

{'name': ['A', 'B', 'C', 'D'],
 'scores': [30, 45, 60, 90],
 'address': {'city': ['banglore', 'chennai', 'pune', 'mumbai'],
  'state': ['K', 'TN', 'MH', 'MH'],
  'pincode': [45, 34, 56, 78]},
 'rollno': (2, 3, 4, 5)}

In [7]:
## Accessing element in dictionary
print(students['name'][-2])
print(students['address'])
print(students['address']['state'])
print(students['address']['state'][1])

C
{'city': ['banglore', 'chennai', 'pune', 'mumbai'], 'state': ['K', 'TN', 'MH', 'MH'], 'pincode': [45, 34, 56, 78]}
['K', 'TN', 'MH', 'MH']
TN

In [8]:
# replace TN with DL
students['address']['state'][1] = 'DL'  # modify

In [9]:
students

{'name': ['A', 'B', 'C', 'D'],
 'scores': [30, 45, 60, 90],
 'address': {'city': ['banglore', 'chennai', 'pune', 'mumbai'],
  'state': ['K', 'DL', 'MH', 'MH'],
  'pincode': [45, 34, 56, 78]},
 'rollno': (2, 3, 4, 5)}

In [10]:
## replace 4 with 7 for key rollno
# students['rollno'][-2] = 5  # error -> tuple is immutable

In [11]:
students = {'name':['A','B','C','D'],
            'scores':[30,45,60],
            'address':{'city':['banglore','chennai','pune','mumbai'],
                     'state':['K','TN','MH','MH'],
                     'pincode':[45,34,56,78]},
           'rollno':(2,3,4,5)}

In [12]:
students

{'name': ['A', 'B', 'C', 'D'],
 'scores': [30, 45, 60],
 'address': {'city': ['banglore', 'chennai', 'pune', 'mumbai'],
  'state': ['K', 'TN', 'MH', 'MH'],
  'pincode': [45, 34, 56, 78]},
 'rollno': (2, 3, 4, 5)}

In [13]:
{'name':['A','B','C','D'],
            'scores':[30,45,60,90],
            'address':{'city':['banglore','chennai','pune','mumbai'],
                     'state':['K','TN','MH','MH'],
                     'pincode':[45,34,56,78]},
           'rollno':(2,3,4,5),
           'rollno':(2,3,3,5)} # duplicate keys are not allowed

{'name': ['A', 'B', 'C', 'D'],
 'scores': [30, 45, 60, 90],
 'address': {'city': ['banglore', 'chennai', 'pune', 'mumbai'],
  'state': ['K', 'TN', 'MH', 'MH'],
  'pincode': [45, 34, 56, 78]},
 'rollno': (2, 3, 3, 5)}

In [14]:
### loop through dictionary
for item in students.items():
    print(item)

('name', ['A', 'B', 'C', 'D'])
('scores', [30, 45, 60])
('address', {'city': ['banglore', 'chennai', 'pune', 'mumbai'], 'state': ['K', 'TN', 'MH', 'MH'], 'pincode': [45, 34, 56, 78]})
('rollno', (2, 3, 4, 5))

In [15]:
for value in students.values():
    print(value)

['A', 'B', 'C', 'D']
[30, 45, 60]
{'city': ['banglore', 'chennai', 'pune', 'mumbai'], 'state': ['K', 'TN', 'MH', 'MH'], 'pincode': [45, 34, 56, 78]}
(2, 3, 4, 5)

In [16]:
for key in students.keys():
    print(key)

name
scores
address
rollno

In [17]:
students.setdefault('subject')

In [18]:
students

{'name': ['A', 'B', 'C', 'D'],
 'scores': [30, 45, 60],
 'address': {'city': ['banglore', 'chennai', 'pune', 'mumbai'],
  'state': ['K', 'TN', 'MH', 'MH'],
  'pincode': [45, 34, 56, 78]},
 'rollno': (2, 3, 4, 5),
 'subject': None}

set properties
    - unordered data
    - duplicate members not allowed

In [19]:
list1 = list(range(1,21))
list2 = list(range(15,41))
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [20]:
print(type({}))
print(type({1,2}))

<class 'dict'>
<class 'set'>

In [21]:
print({4,5,6,7,8})
print(type({4,5,6,7,8}))

{4, 5, 6, 7, 8}
<class 'set'>

In [22]:
set(list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [23]:
{1,2,3,4,4,3,4,6,7} # duplicate members not allowed

{1, 2, 3, 4, 6, 7}

In [24]:
set1 = set(list1)
print(set1)
set2 = set(list2)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40}

In [25]:
print(set1)
print(set1.intersection(set2))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [26]:
print(set1)
set1.intersection_update(set2) #intersection_update ~ set1 = set1.intersection(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20}

In [27]:
set1 = set(list1)
print(set1)
set2 = set(list2)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40}

In [28]:
set1.difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [29]:
# set1.union(set2)

In [30]:
# s = {1,2,3,4}
# s.add(5)
# s

In [31]:
set1.symmetric_difference(set2) # oppsite of intersection operations

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40}

In [32]:
set((1,2,3,4)) - set((3,4,5)) # this is equivalent to set1.difference(set2)

{1, 2}

In [33]:
# set((1,2,3,4)) + set((3,4,5)) # not allowed

In [34]:
# set((1,2,3,4))[1]

In [35]:
{3,4,5,6,7}

{3, 4, 5, 6, 7}

In [36]:
set(('a','b','c')).intersection(set(('b')))

{'b'}

### list comprehension

In [37]:
list1 = [1,2,3,4,5,6,7,8,9,10]

## squaring each element
tmp = []
for each in list1:
    tmp.append(each**2)
tmp

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### list comprehsion
- is an elegant form of loops
- computationally efficient/faster

#### syntax

In [38]:
# [<output_Expression> for <iterator> in <iterable>]

In [39]:
## squaring each member of a list of integers 1 to 10.
[each**2 for each in list1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
list1 = [1,2,3,4,5,6,7,8,9,10]

1. list1 -> generate a new list having square of even numbers

In [41]:
o_list = []
for each in list1:
    if(each%2==0):
        o_list.append(each**2)
o_list

[4, 16, 36, 64, 100]

In [42]:
[i**2 for i in list1 if i%2 == 0]

[4, 16, 36, 64, 100]

2. list1 -> generate a new list having square of even numbers and square root of the odd numbers

In [43]:
o_list = []
for each in list1:
    if(each%2==0):
        o_list.append(each**2)
    else:
        o_list.append(each**0.5)
o_list

[1.0,
 4,
 1.7320508075688772,
 16,
 2.23606797749979,
 36,
 2.6457513110645907,
 64,
 3.0,
 100]

In [44]:
[each**2 if each%2==0 else each**0.5 for each in list1]

[1.0,
 4,
 1.7320508075688772,
 16,
 2.23606797749979,
 36,
 2.6457513110645907,
 64,
 3.0,
 100]

3. Mapping: loop to check even/odd numbers

In [45]:
o_list = []
for each in range(1,11):
    if each%2 == 0:
        o_list.append('E')
    else:
        o_list.append('O')
o_list

['O', 'E', 'O', 'E', 'O', 'E', 'O', 'E', 'O', 'E']

In [46]:
['E' if each%2==0 else 'O' for each in range(1,11)]

['O', 'E', 'O', 'E', 'O', 'E', 'O', 'E', 'O', 'E']

4. Mapping: generate this sequence of codes for integers i : -10 to 10:
        'P' if i is positive
        'N' if i is negative
        'Z' if i is zero

In [47]:
o_list = []
for each in range(-10,11,1):
    if each > 0:
        o_list.append('P')
    elif each < 0:
        o_list.append('N')
    else :
        o_list.append('Z')
# print(list(range(-10,11,1)))
# o_list

In [48]:
["P" if each > 0 else 'N' if each < 0 else 'Z' for each in range(-10,11)]

['N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'N',
 'Z',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P',
 'P']

In [49]:
for i in range(1,4):
    for j in range(2,6):
        print(i*j)

2
3
4
5
4
6
8
10
6
9
12
15

In [50]:
# Example of list comprehension of nested for loop
[i*j for i in range(1,4) for j in range(2,6)]

[2, 3, 4, 5, 4, 6, 8, 10, 6, 9, 12, 15]

In [51]:
for i in range(1,4):
    for j in range(2,6):
        print(i,j,i*j)

1 2 2
1 3 3
1 4 4
1 5 5
2 2 4
2 3 6
2 4 8
2 5 10
3 2 6
3 3 9
3 4 12
3 5 15

In [52]:
o_list = []
for i in range(1,4):
    for j in range(2,6):
        o_list.append((i,j,i*j))
o_list

[(1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15)]

In [53]:
[(i,j,i*j) for i in range(1,4) for j in range(2,6)]

[(1, 2, 2),
 (1, 3, 3),
 (1, 4, 4),
 (1, 5, 5),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15)]

In [54]:
[[i,j,i*j ]for i in range(1,4) for j in range(2,6)]

[[1, 2, 2],
 [1, 3, 3],
 [1, 4, 4],
 [1, 5, 5],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15]]

### list generator

In [55]:
# (<output_Expression> for <iterator> in <iterable>) # list generator

In [56]:
## squaring each element
tmp = []
for each in list1:
    tmp.append(each**2)

In [57]:
[each**2 for each in list1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
list2 = (each**2 for each in list1)
list2

In [59]:
list((each**2 for each in list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
for each in (each**2 for each in list1):
    print(each+2)

3
6
11
18
27
38
51
66
83
102